#AppBar {
    background-color: royalblue;
}

h1 {
    color: white;
    font-style: bold;
    font-size: xx-large;
}

a {
    color: royalblue;
}

div {
    text-align: center;
}

p {

    text-align: center;
}