body {
    background-color: cadetblue;
}

h1 {
    color: crimson;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: darkblue;
    font-size: medium;
    text-align: center;
}

#text {
    font-size: medium;
    font-style: bold;
    text-align: center;
}
