body {
    background-color: pink;
}

h1 {
    color: red;
    font-size: xx-large;
    font-style: bold;
    text-decoration: underline;
    text-align: center;
}

h2 {
    color: blue;
    font-size: medium;
    text-align: center;
}

#l1 {
    color: orange;
}

.l2 {
    color: brown;
    text-decoration: underline;
}