h1 {
    text-align: center;
    background-color: cyan;
}

#Sun {
    background-color: red;
}

#Mon {
    background-color: yellow;
}

#Tue {
    background-color: violet;
}

#Wed {
    background-color: green;
}

#Thu {
    background-color: darkorange;
}

#Fri {
    background-color: darkturquoise;
}

#Sat {
    background-color: purple;
}

p {
    color: red;
}
